{
    "driver_config": {"device_address": "130.20.116.13"},
    "campus": "campus",
    "building": "building",
    "unit": "modbus1",
    "driver_type": "modbus",
    "registry_config":"/home/rajveer/Desktop/volttron/examples/configurations/catalyst371.csv",
    "interval": 120,
    "timezone": "UTC"
}
